<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DebugMessages</title>
</head>
<body>
    <hgroup>
        <h1>DebugMessages.</h1>
        <h2>@ViewBag.Message</h2>
    </hgroup>
</body>
</html>
