@*@model IEnumerable<NaproKarta.Models.ObservationModel.Letter>*@
@model List<string>

<table>
@foreach (var item in Model) {
    <tr>
        <td>
            <div class="radio">
                <label><input type="radio" name="@item">@item</label>
            </div>
        </td>
    </tr>
}
</table>
